* {
    font-family: 'Poppins', sans-serif;
    opacity: 0;
    animation: fadeInUp 1s ease-out forwards;
    animation-delay: 0.5s;
    text-transform: capitalize;
    scroll-behavior: smooth;
}

img {
    width: 55%;
    height: min-content;
    border-radius: 10px;
    display: inline-block;
    margin: 1%;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.theory {
    width: 98%;
    border-radius: 10px;
    background-color: #fffcfc;
    font-size: large;
    font-weight: bold;
    text-align: center;
    margin: 1%;
    padding: 1%;
}

.section {
    display: flex;
    position: relative;
}

.points {
    width: 98%;
    border-radius: 10px;
    background-color: #efeeeeef;
    font-size: larger;
    margin: 1%;
    padding: 1%;
}

h3 {
    text-align: center;
    margin-bottom: 7%;
}

.theory1 {
    width: 97%;
    border-radius: 10px;
    background-color: #fffcfc;
    font-size: large;
    margin: 1.4%;
    padding: 1%;
}

.img1{
    border-radius: 10px;
    width: 30.5%;
     height: fit-content;
     margin-right: 1%;
  }
  
  a {
    text-decoration: dashed;
    color: rgba(13, 0, 255, 0.879);
  }
  
  #rkt {
    width: 33%;
    align-content: center;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    margin: 1%;
  }
  
  #div1{
    width: auto;
   height: auto;
   margin: 1.5%;
  
  }
  
  .points1 {
    width: 94%;
    height: fit-content;
    border-radius: 10px;
    background-color: #fefefee3;
    font-size: larger;
    margin: 2%;
    padding: 1%;
  }